// mat-side-nav-content pegue a tela inteira
mat-sidenav-content {
  min-height: 100vh;

}

mat-sidenav {
  width: 280px;
  .menu-button {
    color: black;
    width: 100%;
    margin-top: 6px;

  }

}

mat-toolbar-row {
  height: 48px;
}

.mat-toolbar-multiple-rows {
  min-height: 48px;
}

.petstore__name {
  padding: 15px;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  margin-right: 12px;
}

.btn__close-menu {
  margin-left: 230px;
}

.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm{
    max-width: 720px;
  }

}
@media (min-width: 576px) {
  .container, .container-sm{
    max-width: 540px;
  }
}