* {
    width: 100%;
}

body {
    height: 1284px;
    width: 768px;
}

.banner-container img {
    padding-top: 10px;
}

// @media screen and (min-width: 360) and (max-width: 480px) {
//     body {
//         width: 100%;
//     }

//     .banner-container img {
//         width: 100%;
//         height: auto;
//     }
    
// }
